<span>Welcome {{username}}!</span>
<main class="content">
    <div class="container-fluid p-0">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Pricing API Configurator</h1>
        </div>
        <form [formGroup]="apiConfigForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">API Endpoint URL</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <input formControlName="endpointURL" type="text" class="form-control" placeholder="API Endpoint URL">
                            </div>
                            <div class="col-4">
                                <select class="form-select mb-3" formControlName="endpointMethod">
                                    <option selected>GET</option>
                                    <option>POST</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Header Parameters</h5>
                    </div>
                    <div class="card-body">									
                        <div class="row">								
                            <div class="col-6">
                                <select class="form-select mb-3" formControlName="headerParam1">
                                    <option selected>X-API-Host</option>
                                    <option>X-API-Key</option>
                                </select>
                                <select class="form-select mb-3" formControlName="headerParam2">
                                    <option selected>X-API-Key</option>
                                    <option>X-API-Host</option>
                                </select>
                                
                            </div>
                            <div class="col-6">
                                <div class="mb-3"><input formControlName="headerParam1Value" type="text" class="form-control" placeholder="">	</div>
                                <div><input formControlName="headerParam2Value" type="text" class="form-control" placeholder=""></div>
                            </div>								
                        </div>									
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Required Parameters</h5>
                    </div>
                    <div class="card-body">									
                        <div class="row">								
                            <div class="col-6">
                                <select class="form-select mb-3" formControlName="reqParam">
                                    <option selected>symbol</option>
                                    <option>region</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <div class="mb-3"><input formControlName="reqParamValue" type="text" class="form-control" placeholder="">	</div>
                            </div>								
                        </div>									
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Optional Parameters</h5>
                    </div>
                    <div class="card-body">									
                        <div class="row">								
                            <div class="col-6">
                                <select formControlName="optionalParam" class="form-select mb-3">
                                    <option selected>region</option>
                                    <option>date</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <div class="mb-3"><input formControlName="optionalParamValue" type="text" class="form-control" placeholder="">	</div>
                            </div>								
                        </div>									
                    </div>
                </div>							
            </div>

            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Configured Endpoint(s):</h5>
                    </div>
                    <div class="card-body">
                        <div class="mt-3 endpointDetails">
                            <ul>
                                <li>{{configuredendpoints}}</li>
                            </ul>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-lg btn-primary">Save Config</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        </form>

    </div>
</main>
